<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riclage.blablalines.search.input">

    <application>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="ENTER_YOUR_KEY"/>
        <activity android:name=".SearchInputActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
